<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinhhuynh.simplepermission">

    <application>
        <activity
            android:name=".PermissionActivity"
            android:label=""
            android:theme="@style/Theme.Transparent" />
    </application>

</manifest>
